:root{
    --cell-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overscroll-behavior-y: none;
    overflow: hidden;
    transition: background 0.2s;
}

body{
    --food-color:rgb(255, 28, 69);
    --board-shadow:  0 1px 6px 0px rgb(32 33 36 / 38%);
    --face-shade: #adff88;
}
[theme="dark"]{
    background-color: black;
    --food-color:rgb(255, 19, 19);
    --board-shadow: 0 1px 6px 0px rgba(255, 0, 0, 1);
}

.food{
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: var(--food-color);
    box-shadow: 0px 0px 2.5px rgba(0,0,0,0.5);
    border-radius: 2px;
    right: 0;
    transition: all 0.2s cubic-bezier(.41,.71,.49,1.43);
}
.food-small{
    width: 0px;
    height: 0px;
}

.snake-cell{
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: limegreen;
    box-shadow: 0px 0px 3.5px rgba(0,0,0,1);
    border-radius: 15%;
    
    transition: background 0.3s ease-out;
    /* transition: box-shadow 0.4s; */
}   
/* #snake_1:last-child{
    transition: all 0.1s;
} */
.cells-animated{
    transition: all 0.4s;
}
/* .snake-head{
    transition: all 0.05s;
} */

#buttons-board{
    display: none;
}

/* ==========================================food types ============================*/
[type="nitro"]{
    background-color: rgb(14, 167, 255);
}
[type="gold"]{
    background-color: rgb(255, 191, 14);
}
[type="purple"], [color="purple"] > div{
    background-color: rgb(221, 62, 165);
    --face-shade: rgb(238, 171, 190);
}
[type="red"], [color="red"] > div{
    background-color: rgb(241, 60, 60);
    --face-shade: rgb(233, 159, 159);
}
[type="green"], [color="green"] > div{
    background-color: limegreen;
}
[type="orange"], [color="orange"] > div{
    background-color: rgb(255, 144, 40);
    --face-shade: rgb(248, 189, 141);
}
[type="dark"]{
    background-color: rgb(20, 20, 20);
}
[type="light"]{
    background-color: rgb(231, 255, 14);
}
/* =================================== Snake Head ================================== */
.eyes{
    position:absolute;
    background-color: var(--face-shade);
    width:35%;
    height:40%;
    top:20%;
    border-radius:25%;
    display: flex;
    align-items: center;
}
#left-eye{
    left:10%;
}
#right-eye{
    right:10%;
}
.eye-ball{
    position:absolute;
    width:50%;
    height:70%;
    left:10%;
    background-color:#3c3c3c;
    border-radius:4px;
    font-size: 0px;
}
#mouth{
    position:absolute;
    width:80%;
    height:20%;
    background-color: var(--face-shade);
    bottom:10%;
    border-radius:6px 6px 30px 30px;
    left:50%;
    transform:translateX(-50%);
}
#tongue{
    position:absolute;
    width:50%;
    height:250%;
    background-image: linear-gradient(#cc0000, #ff6969);
    border-radius:0px 0px 50% 50%;
    left:30%;
}

/* =================================== animations */
.head-animation{
    -webkit-transition: all 1s cubic-bezier(.41,.71,.49,1.43);
    transition: all 1s cubic-bezier(.41,.71,.49,1.43);
    top: 200px !important;
    left: 140px !important;
    transform: rotate(0) !important;
    width: 100px !important;
    height: 100px !important;
}
.eye-close{
    transition: height 0.2s;
    height: 0px;
}
.eye-open{
    transition-property: height, transform, font-size;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.64,1.58,.67,1.06);
    left: 0;
    width: 100%;
    background-color: unset;
    height: 100%;
    font-size: 1.9em;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* ______________________________________________________ */
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

#game-board{
    position: relative;
    width: 380px;
    height: 500px;
    /* border: 1px inset black; */
    box-shadow: var(--board-shadow);
    border-radius: 5px;
    overflow: hidden;
}

.header{
    display: flex;
    gap: 100px;
}

.footer{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#live-score, #top-score{
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica;
    font-size: 60px;
    border-radius: 5px;
    color: var(--food-color);
}

.comment{
    position: absolute;
    border-radius: 7px;
    color: var(--food-color);
    background-color: white;
    padding: 5px;
    box-shadow: 0 1px 6px 0px rgb(32 33 36 / 38%);
    z-index: 100;
    font-family: Arial, 'Segoe UI';
    top: 130%;
}