:root{
    --cell-size: 20px;
    --block-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overscroll-behavior-y: none;
    overflow: hidden;
    transition: background 0.2s;
}

body{
    --food-color:rgb(255, 28, 69);
    --board-shadow:  0 0 8px 0px rgb(32 33 36 / 38%);
    --face-shade: #adff88;
}
[theme="dark"]{
    background-color: black;
    --food-color:rgb(255, 19, 19);
    --board-shadow: 0 0 10px 2px rgba(255, 0, 0, 1);
}

.food{
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    box-shadow: 0px 0px 2.5px rgba(0,0,0,0.5);
    border-radius: 3px;
    right: 0;
    transition: all 0.2s cubic-bezier(.41,.71,.49,1.43);
}
.food-small{
    width: 0px;
    height: 0px;
}

.snake-cell{
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: limegreen;
    box-shadow: 0px 0px 3.5px rgba(0,0,0,1);
    border-radius: 15%;
    
    transition: background 0.3s ease-out;
    /* transition: box-shadow 0.4s; */
}   
/* #snake_1:last-child{
    transition: all 0.1s;
} */
.cells-animated{
    transition: all 0.4s;
}
/* .snake-head{
    transition: all 0.05s;
} */

#buttons-board{
    display: none;
}

/* ==========================================food types ============================*/
[type="nitro"]{
    background-color: rgb(14, 167, 255);
}
[type="gold"]{
    background-color: rgb(255, 171, 14);
}
[type="heart"]{
    background-color: #886ce4;
}
[type="dark"]{
    background-color: rgb(20, 20, 20);
}
[type="light"]{
    background-color: rgb(255, 240, 118);
}
[type="red"], [color="red"] > div{
    background-color: rgb(241, 60, 60);
    --face-shade: rgb(233, 159, 159);
}
[type="green"], [color="green"] > div{
    background-color: limegreen;
}
[type="orange"], [color="orange"] > div{
    background-color: rgb(255, 144, 40);
    --face-shade: rgb(248, 189, 141);
}
/* =================================== Snake Head ================================== */
.eyes{
    position:absolute;
    background-color: var(--face-shade);
    width:35%;
    height:40%;
    top:20%;
    border-radius:25%;
    display: flex;
    align-items: center;
}
#left-eye{
    left:10%;
}
#right-eye{
    right:10%;
}
.eye-ball{
    position:absolute;
    width:50%;
    height:70%;
    left:10%;
    background-color:#3c3c3c;
    border-radius:4px;
    font-size: 0px;
}
#mouth{
    position:absolute;
    width:80%;
    height:20%;
    background-color: var(--face-shade);
    bottom:10%;
    border-radius:6px 6px 30px 30px;
    left:50%;
    transform:translateX(-50%);
}
#tongue{
    position:absolute;
    width:50%;
    height:250%;
    background-image: linear-gradient(#cc0000, #ff6969);
    border-radius:0px 0px 50% 50%;
    left:30%;
}

/* =================================== animations */
.head-animation{
    transition: all 1s cubic-bezier(.41,.71,.49,1.43);
    top: 200px !important;
    left: 130px !important;
    transform: rotate(0) !important;
    width: 100px !important;
    height: 100px !important;
}
.eye-close{
    transition: height 0.2s;
    height: 0px;
}
.eye-open{
    transition-property: height, transform, font-size;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.64,1.58,.67,1.06);
    left: 0;
    width: 100%;
    background-color: unset;
    height: 100%;
    font-size: 2em;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* ______________________________________________________ */
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.game-board{
    position: relative;
    width: 360px;
    height: 500px;
    /* border: 1px inset black; */
    box-shadow: var(--board-shadow);
    border-radius: 10px;
    overflow: hidden;
}

.header{
    display: flex;
    gap: 100px;
    margin: 5px 0 5px 0;
    width: 360px;
    justify-content: space-around;
    align-items: center;
}

.footer{
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px 0 20px;
    width: 100%;
}

#live-score, #top-score{
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica;
    font-size: 60px;
    color: var(--food-color);
}

.comment{
    position: absolute;
    border-radius: 7px;
    color: var(--food-color);
    background-color: white;
    padding: 5px;
    box-shadow: 0 1px 6px 0px rgb(32 33 36 / 38%);
    z-index: 100;
    font-family: Arial, 'Segoe UI';
    top: 130%;
}

.position-check{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.heart-list{
    position: absolute;
    font-size: 1.5em;
}
.heart{
    transition: all 0.2s ease-out;
}
.small-heart{
    font-size: 0;
}
/* ========================================= block styles */
.block{
    position: absolute;
    height: var(--block-size);
    width: var(--block-size);
    background-color: white;
    /* box-shadow: 0px 0px 2.5px rgba(0,0,0,0.5); */
    border-radius: 3px;
    /* right: 0; */
    transition: all 0.2s cubic-bezier(.41,.71,.49,1.43);
    -webkit-transition: all 0.2s cubic-bezier(.41,.71,.49,1.43);
}

.block-small{
    width: 0px;
    height: 0px;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
}

.side-left{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.side-right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.side-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.side-bottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


[class*='corner']::after,[class*='corner']::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px var(--active-block-color);
    clip: rect(0,0,0,0)
}
[class*='corner']::after{
    top: -20px;
}

[class*='corner']::before{
    bottom: -20px;
}

.corner-top-left::after{
    clip: rect(10px, 10px, 20px, 0px);
}
.corner-top-left{
    border-top-left-radius: 0;
}

.corner-top-right::after{
    clip: rect(10px, 20px, 20px, 10px);
}
.corner-top-right{
    border-top-right-radius: 0;
}

.corner-top-left.corner-top-right::after {
    clip: rect(10px, 20px, 20px, 0px);
}

.corner-bottom-right::before{
    clip: rect(0px, 20px, 10px, 10px);
}
.corner-bottom-right{
    border-bottom-right-radius: 0;
}

.corner-bottom-left::before{
    clip: rect(0px, 10px, 10px, 0px);
}
.corner-bottom-left{
    border-bottom-left-radius: 0;
}

.corner-bottom-left.corner-bottom-right::before {
    clip: rect(0px, 20px, 10px, 0px);
}

/* ============================= */

.emoji-btn{
    font-size: 1.5em;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paint-mode{
    background-color: #86db8d;
    box-shadow: inset 0 0 5px 0px;
}

.palette-container{
    z-index: -1;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    position: absolute;
    box-shadow: 0 0 8px 0px rgb(32 33 36 / 38%);
    background-color: rgb(255, 250, 241);
    /* animation: open 0.3 ease-out forwards; */
    transition: all 0.3s ease-out;
    width: 42px;
    height: 42px;
    top: 0;
    border-radius: 50%;
}

.palette-animated{
    left: -167px;
    top: -80px;
    width: 360px;
    height: 70px;
    border-radius: 20px;
}

.block-btn{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0px rgb(32 33 36 / 38%);
}
[type='apple']{
    background-color: var(--food-color);
    --active-block-color: var(--food-color);
}
[type='grass']{
    background-color: #4cbb55;
    --active-block-color: #4cbb55;
}
[type='wood']{
    background-color: #70503c;
    --active-block-color: #70503c;
}
[type='leaves']{
    background-color: #45db40;
    --active-block-color: #45db40;
}
[type='water']{
    background-color: aqua;
    --active-block-color: aqua;
}
[type='dirt']{
    background-color: rgb(148, 122, 104);
    --active-block-color: rgb(148, 122, 104);
}